@import url(./styles/var.css);

body{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  transition: all .5s ease-in-out;
  background-color: var(--background);
  color: var(--text-primary);
}